

/* barra que fica no topo */
.topbar {
    width: 100%;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    color: white;
    background-color: black;
    font-size: 15px;
}


header{
    width: 100%;
    top: 0;
    position: fixed;
}

  