.sec1{
    margin: 0 auto;
    width: 90vh;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 10vh;
    border-bottom: 0.5vh solid black;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 20vh;
}

.sec1 h1{
    font-size: 5vh;
    width:40vh;
}

.parte1{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.parte1txt{
    margin-right:30vh;
}

section img{
    height: 30vh;
    width: 35vh;
    background-color: rgb(194, 0, 0);
}

section p{
    text-align: center;
    margin-bottom: 4vh;
    width: 50vh;
    font-size: 3vh;
}

section h1{
    margin-bottom: 3vh;
    text-align: center;
    font-size: 4vh;
}

.sec2{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
}

.p1{
    margin-right: 30vh;
}

.sec3{
    margin-bottom: 10vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

